VITE_APP_ENV=development
VITE_APP_TITLE=React / Starter KIT
VITE_APP_DESCRIPTION=A React starter kit powered by TypeScript and Vite.

VITE_API_BASE_URL=https://dummyjson.com
# VITE_APP_URL=https://example.com
